
<div class="container flex flex-wrap p-0">

  {% for bucket in options.buckets %}

    <div class="{{loop.first ? "" : "flex-grow" }} w-full p-4 md:w-1/2 {{loop.first ? "lg:w-2/5" : "lg:w-1/5" }}">
      
      <a href="{{bucket.button_link.url}}" class="relative flex flex-col justify-end min-h-96 bg-cover bg-center bucket-{{loop.index}}">
        
        
        <style>
          .bucket-{{loop.index}} {
            background-image: url({{bucket.background_image.url|resize('800')}});
          }
        </style>
        
        
        <div class="relative z-10 flex flex-col justify-end p-4 text-white rounded-tr-full bg-primary">
          <p class="text-lg font-bold">{{bucket.title}}</p>
          {% if bucket.intro %}<p class="text-sm">{{bucket.intro}}</p>{% endif %}
          <span class="inline-block mt-2 mr-auto text-sm btn btn-secondary">{{bucket.button_text}}</span>
        </div>
        
      </a>

    </div>

  {% endfor %}

</div>