<header class="w-full pt-10 bg-white lg:fixed lg:top-0 lg:left-0 lg:z-10 lg:pt-0">

  <div class="container items-center justify-between lg:py-4 lg:flex">

    <a aria-label="Go to homepage" class="block lg:inline-block" href="{{site.site_url}}">
      <img class="mx-auto max-w-40" src="{{options.site_logo.url}}" alt="{{site.title}} Logo" />
    </a>

    <div class="items-center justify-end lg:flex">

      <nav id="menu-primary" class="hidden menu lg:block">
        <ul class="flex flex-wrap justify-center w-full menu-primary">
          {% for item in primaryMenu.items %}
          <li class="{{item.class}} {{ item.current ? 'current-menu-item' }}">
            <a href="{{item.link}}">{{item.name}}</a>
            {% if item.children %}
            <ul class="sub-menu">
              {% for child in item.children %}
              <li class="{{child.class}}">
                <a href="{{child.link}}">{{child.name}}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
      
      {% include "_components/phone-number.twig" with {
        classes : "hidden lg:block rounded-full bg-secondary text-white py-2 px-4 font-bold"
      } %}

    </div>
   
  </div>

</header>