<div class="w-full p-4 sm:w-1/2 {% if not featured %} xl:w-1/3 {% endif %}">

  <a href="{{post.link}}" class="h-full block bg-white group hover:shadow-lg {% if featured %}lg:flex flex-wrap items-center{% endif %}">

    <img class="bg-gray-100 h-48 w-full object-cover lazyload lg:h-56 {% if featured %}lg:w-1/3 h-56{% endif %}" data-src="{{post.thumbnail.src|resize('400')}}" alt="{{post.title}} title image">

    <div class="p-4 {% if featured %}lg:w-2/3 lg:px-6{% endif %} xl:p-8">
      <p class="text-xl font-bold">{{post.title}}</p>
      <p class="my-2 text-sm">{{post.preview.length(15).read_more(false)}}</p>
      <span class="inline-block mt-2 text-sm btn btn-primary">Read more</span>
    </div>

  </a>

</div>