{% if front_page %}

<div class="relative w-full bg-white lg:mt-32 xl:mt-30 lg:min-h-96 xl:min-h-128 2xl:min-h-160">

    <div class="w-full h-full carousel">
    {% for image in post.meta('hero_carousel') %}                
        {% include "_components/picture.twig" with {
          source: image.url,
          pictureClasses : 'hero--home carousel-image',
          breakpoints: {
            "1530px" : {
              w: 2000,
              h: 650,
              crop: 'center'
            },
            "1280px" : {
              w: 1600,
              h: 520,
              crop: 'center'
            },
            "1024px" : {
              w: 1280,
              h: 400,
              crop: 'center'
            },
            "768px" : {
              w: 1024,
              h: 310,
              crop: 'center'
            },
            "640px" : {
              w: 768,
              h: 315,
              crop: 'center'
            },
            "375px" : {
              w: 640,
              h: 320,
              crop: 'center'
            },
          },
          img: {
            classes: 'absolute top-0 left-0 z-0 object-cover object-center w-full h-full opacity-20 lg:opacity-100',
            alt: site.title,
            w: null,
            h: 600,
            crop: 'center',
          }
        }
      %}
    {% endfor %}
  </div>


  <div class="container relative lg:min-h-96 xl:min-h-128 2xl:min-h-160 z-1 lg:flex">

    <div class="flex flex-wrap items-center justify-between w-full min-h-full">

      <div class="flex flex-col w-full max-w-sm p-8 mx-auto text-center lg:py-16 lg:mx-0 lg:text-left lg:w-5/12">

        <p class="text-2xl leading-snug text-primary-dark 2xl:text-4xl">
          {{top_line}}
        </p>

        <p class="mt-4 mb-8 leading-snug lg:text-xl 2xl:text-lg text-primary-dark">{{middle_line}}</p>

        <div>
        
          <a href="{{site.url}}/instant-valuation" class="block mt-4 text-sm text-center lg:mr-4 btn btn-secondary lg:inline-flex xl:mt-12 lg:text-base">
            Get an INSTANT online valuation
          </a>
          
          <a href="{{site.url}}/buy-a-home" class="inline-flex mt-4 text-sm text-center lg:mr-4 lg:text-base btn btn-white">
            Search homes for sale
          </a>
          
        </div>

      </div>


      <div class="hidden w-3/12 p-4 leading-snug text-center bg-white rounded xl:w-2/12 xl:mr-12 lg:p-6 xl:p-8 lg:block">

        <p class="text-xl font-bold">Get your <span class="text-primary">FREE</span> property valuation today!</p>

        <p class="my-4 text-sm">Tell us a few details about your property and you'll get an instant valuation, online in less than 2 minutes!</p>        

        <a class="inline-block mt-4 btn btn-secondary" href="{{site.url}}/instant-valuation/">Get started</a>

      </div>

    </div>
    
  </div>
  
</div> 

{% else %}

  <div class="relative w-full text-white bg-primary lg:mt-36 xl:mt-32">
    <div class="container">
      <p class="px-6 py-8 text-2xl font-bold text-center lg:p-12 lg:py-16 xl:text-4xl 2xl:text-5xl">{{hero_heading}}</p>
    </div>
    {% include "_components/pattern-house.twig" %}
  </div>

  {% if has_search_bar %}
    {% include "_components/property-search.twig" %}
  {% endif %}

{% endif %}