{% if posts.pagination %}

  <nav class="flex flex-wrap items-center justify-center w-full mt-8"
    role="navigation" aria-label="pagination">
    <ul class="flex flex-wrap items-center">
      <li class="mr-4 text-sm text-gray-600">Page:</li>
      {% for page in posts.pagination.pages %}
        {% if page.link %}
        <li>
          <a href="{{ page.link }}"
            class="bg-white px-2 py-1 w-8 h-8 text-center mx-1 block no-underline font-bold text-primary-dark hover:text-white hover:bg-primary rounded {{ page.class }}"
            aria-label="Goto page {{ page.title }}">
            {{ page.title }}
          </a>
        </li>
        {% else %}
          {% if page.class == 'dots' %}
          <li>
            <span class="">&hellip;</span>
          </li>
          {% else %}
          <span
            class="is--active bg-primary-dark rounded text-white px-2 py-1 w-8 h-8 text-center mx-1 block {{ page.class }}">{{ page.title }}</span>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

{% endif %}