<div class="w-full mb-4 md:p-4 md:mb-0 md:w-1/2 lg:w-1/3 xl:w-1/4">
  
  <a href="{{link}}" class="block transition-all bg-white group hover:shadow-lg">

    {% include "_components/picture.twig" with {
        source: image.src,
        breakpoints: {
          "640px" : {
            w: 768,
            h: 400,
            crop: 'center'
          },
        },
        img: {
          classes: 'block object-cover w-full h-64 bg-gray-500 lazyload',
          alt: 'Image of ' ~ title,
          w: null,
          h: 600,
          crop: 'center',
        }
      }
    %}


    <div class="p-4 text-sm lg:p-8">
      <p class="text-2xl font-bold">{{title}}</p>
      <p>{{street}}</p>

      <p class="mt-8 leading-snug">{{ function('property_price_qualifier', property_id) }} <span class="block text-xl font-bold">£{{property._price|number_format}}</span></p>
      <hr class="my-8">
      {% include "_components/room-numbers.twig" with {
        bedrooms: bedrooms,
        bathrooms: bathrooms,
        reception_rooms: reception_rooms
      } %}
      <div class="mb-2 text-center">
        <span class="inline-block mx-auto btn btn-primary">View this property</span>
      </div>
    </div>
  </a>

</div>