<div class="flex flex-wrap mb-8 text-center">
    <div class="w-1/3">{{function('icon', 'bed', 'text-3xl')}}<span class="block text-xs lg:text-sm">{{bedrooms}}
            Beds</span>
    </div>
    <div class="w-1/3">{{function('icon', 'bath', 'text-3xl')}}<span class="block text-xs lg:text-sm">{{bathrooms}}
            Baths</span>
    </div>
    <div class="w-1/3">{{function('icon', 'sofa', 'text-3xl')}}<span
            class="block text-xs lg:text-sm">{{reception_rooms}} Receptions</span>
    </div>
</div>