{% if options.social_twitter %}
  <a target="_blank" class="{{ linkClasses }}" href="{{ options.social_twitter }}">{{function ('icon', 'twitter')}}</a>
{% endif %}

{% if options.social_facebook %}
  <a target="_blank" class="{{ linkClasses }}" href="{{ options.social_facebook }}">{{function ('icon', 'facebook')}}</a>
{% endif %}

{% if options.social_google %}
  <a target="_blank" class="{{ linkClasses }}" href="{{ options.social_google }}">{{function ('icon', 'google-plus')}}</a>
{% endif %}

{% if options.social_instagram %}
  <a target="_blank" class="{{ linkClasses }}" href="{{ options.social_instagram }}">{{function ('icon', 'instagram')}}</a>
{% endif %}

{% if options.social_youtube %}
  <a target="_blank" class="{{ linkClasses }}" href="{{ options.social_youtube }}">{{function ('icon', 'youtube')}}</a>
{% endif %}

{% if options.social_pinterest %}
  <a target="_blank" class="{{ linkClasses }}" href="{{ options.social_pinterest }}">{{function ('icon', 'pinterest')}}</a>
{% endif %}

{% if options.social_linkedin %}
 <a target="_blank" class="{{ linkClasses }}" href="{{ options.social_linkedin }}"> {{function ('icon', 'linkedin')}}</a>
{% endif %}


