{% include 'admin/partials/header.twig' %}

<form name="ald-numbers" method="POST" action="#">

	<div class="ald-left">

		<div class="ald-table">
		
			<div class="ald-table__heading">
				
				<div class="ald-table__heading-label">Location</div>
				<div class="ald-table__heading-label">Location Label</div>
				<div class="ald-table__heading-label">Calltag</div>
				<div class="ald-table__heading-label">SEO Number</div>
				<div class="ald-table__heading-label">PPC Number</div>
				<div class="ald-table__heading-label">Insights Class</div>
				<div class="ald-table__heading-label">Tracking Label</div>
				<div class="ald-table__heading-label"></div>
			
			</div>

			<div class="ald-table__fields">

				<div class="ald-table__row">

					<div class="ald-table__field"><input type="text" readonly name="dynamics[dynamic0][location]" required placeholder="Location" value="uk" class="location"></div>
					<div class="ald-table__field"><input type="text" name="dynamics[dynamic0][label]" placeholder="Location Label" class="label" value="UK" readonly></div>
					<div class="ald-table__field"><input type="text" name="dynamics[dynamic0][calltag]" required placeholder="Calltag" value="{{ uknumber.calltag }}"></div>
					<div class="ald-table__field"><input type="text" name="dynamics[dynamic0][seo]" required placeholder="SEO Number" value="{{ uknumber.seo }}"></div>
					<div class="ald-table__field"><input type="text" name="dynamics[dynamic0][ppc]" placeholder="PPC Number" value="{{ uknumber.ppc }}"></div>
					<div class="ald-table__field"><input type="text" name="dynamics[dynamic0][insights]" placeholder="Insights Class" value="{{ uknumber.insights }}"></div>
					<div class="ald-table__field"><input type="text" name="dynamics[dynamic0][tracking]" placeholder="Tracking Label" value="{{ uknumber.tracking }}"></div>
					<div class="ald-table__field"></div>

				</div>

				{% for dynamic in numbers.dynamics %}

					{% include 'admin/partials/new-row.twig' %}

				{% endfor %}

			</div>

			<div class="ald-table__bottom">
				<input type="submit" name="submit" value="Save" class="button button-primary button-large">
				<a href="#" class="new-row button button-secondary button-large">+ New Row</a>
			</div>

		</div>

	</div>

	<div class="ald-right">
		<div class="ald-right__pane">
			<p>Enter your Insights code here:</p>
			<textarea name="insights-code">{% if numbers.insights_code %}{{numbers.insights_code}}{% endif %}</textarea>
		</div>
		<div class="ald-right__pane">
			<p>Tracking Type:</p>
			<select name="tracking-type">
				<option {% if numbers.tracking_type == 'gtag' %}selected{% endif %} value="gtag">gtag</option>
				<option {% if numbers.tracking_type == 'ga' or numbers.tracking_type is not defined %}selected{% endif %} value="ga">ga</option>
			</select>
			<p></p>
			<p>Default Tracking Label:</p>
			<input name="default-tracking" type="text" value="{% if numbers.default_tracking %}{{numbers.default_tracking}}{% endif %}">

			<p></p>
			<p>What your tracking code looks like:</p>
			<span class="tracking-label">
				{% if numbers.default_tracking %}{{numbers.default_tracking}} UK Homepage{% else %} Click Phone Number UK Homepage {% endif %}
			</span>
		</div>
	</div>

</form>

{% include 'admin/partials/footer.twig' %}

<script>
jQuery(function ($) {
	"use strict";
	$(document).ready(function() {

		$(".new-row").click(function(e) {
	        $.get('{{ plugin.directory }}/resources/views/admin/partials/safe-new-row.twig', function (data) {
	            $(data).appendTo(".ald-table__fields");
	        });
			e.preventDefault();
		})

	});
});
</script>