<div class="ald-table__row">
	
	<div class="ald-table__field"><input type="text" name="dynamics[dynamic{{ dynamic.id }}][location]" placeholder="Location" value="{{ dynamic.location }}" class="location"></div>
	<div class="ald-table__field"><input type="text" name="dynamics[dynamic{{ dynamic.id }}][label]" placeholder="Location Label" value="{{ dynamic.label }}" class="label"></div>
	<div class="ald-table__field"><input type="text" name="dynamics[dynamic{{ dynamic.id }}][calltag]" placeholder="Calltag" value="{{ dynamic.calltag }}"></div>
	<div class="ald-table__field"><input type="text" name="dynamics[dynamic{{ dynamic.id }}][seo]" placeholder="SEO Number" value="{{ dynamic.seo }}"></div>
	<div class="ald-table__field"><input type="text" name="dynamics[dynamic{{ dynamic.id }}][ppc]" placeholder="PPC Number" value="{{ dynamic.ppc }}"></div>
	<div class="ald-table__field"><input type="text" name="dynamics[dynamic{{ dynamic.id }}][insights]" placeholder="Insights Class" value="{{ dynamic.insights }}"></div>
	<div class="ald-table__field"><input type="text" name="dynamics[dynamic{{ dynamic.id }}][tracking]" placeholder="Tracking Label" value="{{ dynamic.tracking }}"></div>
	<div class="ald-table__field"><a href="#" class="delete-row button button-large button-secondary">Delete</a></div>

</div>