<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="{{ site.charset }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# <title>{{ site.title }}</title> #}

  {% block htmlheader %}
  <link rel="stylesheet" href="{{ theme.link ~ '/dist/main.min.css' }}">
  {% endblock %}

  {% if options.google_analytics %}
    {{ options.google_analytics}}
  {% endif %}

  {% if options.schema %}
    {{ options.schema}}
  {% endif %}

  {{ function('wp_head') }}
</head>

<body>

  <nav class="mob-nav">
    <div class="scroll-container">
    </div>
  </nav>

  <div class="wrapper">

      {% include "_components/mobile-top-bar.twig" %}
