{% extends 'base.twig' %}

{% block hero %}

  {% include "_components/hero.twig" with {
    hero_heading : post.meta('hero_heading')|default(post.title),
    has_search_bar : post.meta('has_search_bar'),
  } %}
  
{% endblock %}

{% block page_content %}

  <div class="container flex-wrap items-start lg:my-8 xl:my-24 lg:px-8 2xl:px-40 sm:flex">
  
    {% for member in team_members %}
    <div class="flex flex-wrap items-center my-8 sm:w-1/2 sm:p-6 lg:w-full lg:my-0">
      <div class="w-1/2 mx-auto mb-8 {{loop.index is even ? "order-2" }}">
        <img class="block object-cover object-top mx-auto rounded-full w-36 h-36 lazyload lg:rounded-none lg:w-auto lg:h-auto lg:p-8 lg:max-w-xs" data-src="{{member.profile_photo.url}}" alt="{{member.name}}">
      </div>
      
      <div class="lg:w-1/2">
        <h1 class="m-0 leading-snug">{{member.name}}</h1>
        <p class="mb-4 font-semibold text-secondary">{{member.job_title}}</p>
        <p class="mb-0 text-sm">{{function('icon', 'phone', 'text-secondary')}} <span class="font-semibold text-primary-dark">{{member.phone_number}}</span></p>
        <p class="mb-0 text-sm">{{function('icon', 'envelope', 'text-secondary')}} <a class="font-semibold text-primary-dark" href="mailto:{{member.email_address}}">{{member.email_address}}</a></p>
        <div class="mt-4 copy">
          {{member.biography}}
        </div>
      </div>
      
    </div>

    {% endfor %}
  
  </div>  

  {% if post.meta('show_why_choose_us') %}
    {% include "_components/why-choose-us.twig" %} 
  {% endif %}

  {% if post.meta('show_buckets') %}
    {% include "_components/buckets.twig" %}
  {% endif %}

  {% include "_components/testimonials.twig" %}
  
  {% if post.meta('show_team') %}
    {% include "_components/team.twig" %}
  {% endif %}
  
{% endblock %}

