{% extends 'base.twig' %}

{% block hero %}

  {% include "_components/hero.twig" with {
    hero_heading : post.meta('hero_heading')|default(post.title),
    has_search_bar : post.meta('has_search_bar'),
  } %}
  
{% endblock %}

{% block page_content %}

  <div class="flex-wrap items-center justify-between w-full max-w-xl mx-auto mb-8 text-center text-white flex-start lg:text-left lg:flex bg-secondary">
  
    <img class="hidden object-cover h-full min-h-full lg:block lg:w-2/12 lazyload" data-src="{{options.property_placeholder.url}}" alt="{{site.title}} Logo">
    
    <div class="p-4 px-6 pb-0 lg:w-6/12 lg:px-8 lg:pt-0">
      <p class="mb-4 text-lg font-bold leading-snug lg:my-0 lg:text-xl">Sell with a local, friendly estate agent</p>        
      <p class="text-sm xl:text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, impedit</p>
    </div>
    
    <div class="p-4 px-6 text-center lg:w-4/12">
      <p class="mb-4 font-bold">Call {% include "_components/phone-number.twig" %}</p>
      <a href="{{site.url}}/sell-your-home" class="inline-block mx-2 text-xs xl:text-sm btn btn-white text-secondary-dark">Get an instant property valuation</a>
    </div>    
  
  </div>

  <div class="bg-primary-light bg-opacity-20">
    
    <div class="container flex flex-wrap justify-center py-8">

      <p class="w-full text-2xl font-bold text-center">How to sell your home</p>

      {% for step in post.meta('guide_steps') %}
        <div class="w-full p-4 lg:p-12 text-center md:w-1/2 xl:w-1/3 2xl:p-16 {{step.is_highlighted ? "bg-primary-dark text-white" }}">
          
          <img class="block object-cover object-center mx-auto mb-8 bg-gray-500 border-4 border-white rounded-full w-36 h-36 lazyload" data-src="{{step.image.sizes.medium_large}}" alt="{{step.title}}">

          <p class="mb-2 text-lg font-bold">{{loop.index}}. {{step.title}}</p>
          {{step.content}}
          
          {% if step.is_highlighted %}
            <a href="{{site.url}}/contact-us" class="inline-block mt-6 text-sm text-white btn btn-secondary">Start selling your home today!</a>
          {% endif %}
          
        </div>
      {% endfor %}
      
    </div>

  </div>

  {% if post.meta('show_why_choose_us') %}
    {% include "_components/why-choose-us.twig" %} 
  {% endif %}

  {% if post.meta('show_buckets') %}
    {% include "_components/buckets.twig" %}
  {% endif %}
  
  {% if post.meta('show_team') %}
    {% include "_components/team.twig" %}
  {% endif %}
  
{% endblock %}

