{% extends 'base.twig' %}

{% block hero %}

  {% include "_components/hero.twig" with {
    hero_heading : post.meta('hero_heading')|default(post.title),
    has_search_bar : post.meta('has_search_bar'),
  } %}
  
{% endblock %}

{% block page_content %}

  <div class="container flex-wrap flex-grow my-8 xl:my-24 lg:flex lg:px-8 2xl:px-40">

    <picture class="block lazyload lg:w-1/2">
      <source srcset="{{ post.thumbnail.src|resize(900)|towebp }}" type="image/webp" media="(min-width:1024px)">
      <source srcset="{{ post.thumbnail.src|resize(1000)|towebp }}" type="image/webp" media="(min-width:640px)">
      <source srcset="{{ post.thumbnail.src|resize(640)|towebp }}" type="image/webp" media="(min-width:375px)">
      <source srcset="{{ post.thumbnail.src|resize(640)|tojpg }}" type="image/jpeg">
      <img src="{{ post.thumbnail.src|resize(640)|tojpg }}" alt="{{ post.title }}">
    </picture>

    <div class="p-8 bg-gray-100 lg:w-1/2 lg:p-12 xl:p-16">

        <h2>Start your valuation</h2>

        <form action="">
          <input type="text">
        </form>

    </div>



    <main class="mb-8 lg:w-1/2 lg:pr-16 lg:mb-0">
  
      <article class="copy">
  
        <h1>{{post.meta('h1') ? post.meta('h1') : post.title}}</h1>
  
        {{post.content}}
  
      </article>
  
      {% include "_components/cta-bottom.twig" %}
  
    </main>
  
    <aside class="flex-wrap items-center lg:w-1/2 lg:flex">
      {% include "_components/sidebar.twig" with {
        cta_padding : 'p-8 xl:p-16 2xl:p-24',
      }
      %}
    </aside>
  
  </div>  

  {% include "_components/cta-sell-property.twig" %}

  {% if post.meta('show_why_choose_us') %}
    {% include "_components/why-choose-us.twig" %} 
  {% endif %}

  {% if post.meta('show_buckets') %}
    {% include "_components/buckets.twig" %}
  {% endif %}
  
  {% if post.meta('show_team') %}
    {% include "_components/team.twig" %}
  {% endif %}
  
{% endblock %}

