{% extends 'base.twig' %}

{% block hero %}

  {% include "_components/hero.twig" with {
    hero_heading : post.meta('hero_heading')|default(post.title),
    has_search_bar : post.meta('has_search_bar'),
  } %}

{% endblock %}

{% block page_content %}

<div class="container flex-wrap justify-center my-8 lg:my-16 lg:flex lg:px-8">

  <main class="lg:w-1/2">

    <!-- <img class="object-cover object-center w-full mb-6 sm:h-72 h-36 lazyload" data-src="{{post.thumbnail}}" alt="{{post.title}} image"> -->

    {% include "_components/picture.twig" with {
      source: post.thumbnail.src,
      breakpoints: {
        "1024px" : {
          w: 1280,
          h: 500,
          crop: 'center'
        },
        "768px" : {
          w: 1024,
          h: 500,
          crop: 'center'
        },
        "640px" : {
          w: 768,
          h: 400,
          crop: 'center'
        },
      },
      img: {
        classes: 'object-cover object-center w-full mb-6 sm:h-72 h-36 lazyload',
        alt: post.title,
        w: 640,
        h: 600,
        crop: 'center',
      }
    }
    %}
    
    <small>Posted {{post.post_date|date("jS F Y")}}</small>
    <p class="mb-6 text-sm">Listed in: {% for term in post.terms %}<a class="font-bold text-secondary hover:text-secondary-dark" href="{{term.link}}">{{term.name}}</a> {% endfor %}</p>

    <article class="copy">
              
      <h1>{{post.meta('h1') ? post.meta('h1') : post.title}}</h1>

      {{post.content}}

    </article>  
    
  </main>
  
  {% include "_components/cta-sell-property.twig" %}

</div>

{% endblock %}
