<div class="w-full">
  
  <a href="{{link}}" class="relative transition-all bg-white group hover:shadow-lg h-full flex flex-col">

    {% if (availability == "Under Offer") %}
      <span class="absolute top-0 left-0 z-10 p-2 text-sm text-white bg-secondary">Sold STC</span>
    {% elseif (availability == "Sold") %}
        <span class="absolute top-0 left-0 z-10 p-2 text-sm text-white bg-secondary">Completed</span>
    {% endif %}

    {% include "_components/picture.twig" with {
        source: image.src,
        breakpoints: {
          "750px" : {
            w: 750,
            h: null,
            crop: 'center'
          },
        },
        img: {
          classes: 'block object-contain w-full bg-gray-500 lazyload',
          alt: 'Image of ' ~ title,
          w: 750,
          h: 500,
          crop: 'center',
        }
      }
    %}


    <div class="p-4 text-sm lg:p-8 flex flex-col h-full ">

      {% set heading = title|split(',') %}
      <p class="text-2xl font-bold leading-snug">
        {% for line in heading %}
          <span class="block">{{line}}{{loop.first ? ","}}</span>
        {% endfor %}
      </p>

      {% set postcode = street|split(' ') %}
      <p>{{postcode[0]}}</p>

      <p class="mt-8 leading-snug"><span class="block text-secondary">{{availability}}</span>{{ function('property_price_qualifier', property_id) }}
       <span class="block text-xl font-bold">
           {% if(property._poa == "yes") %}
             £POA
          {% else %}
            £{{property._price|number_format}}
          {% endif %}
       </span></p>
      
      

      <div class='mt-auto'>

        <hr class="my-8">

        {% include "_components/room-numbers.twig" with {
          bedrooms: bedrooms,
          bathrooms: bathrooms,
          reception_rooms: reception_rooms
        } %}
        <div class="mb-2 text-center">
          <span class="inline-block mx-auto btn btn-primary">View this property</span>
        </div>
      </div>
    </div>
  </a>

</div>