<div class="flex flex-wrap mb-6 text-center">
    <div class="w-1/3">{{function('icon', 'bed', 'text-3xl')}}<span class="block text-xs lg:text-sm"><span class="block 2xl:inline-block">{{bedrooms}}</span>
            Beds</span>
    </div>
    <div class="w-1/3">{{function('icon', 'bath', 'text-3xl')}}<span class="block text-xs lg:text-sm"><span class="block 2xl:inline-block">{{bathrooms}}</span>
            Baths</span>
    </div>
    <div class="w-1/3">{{function('icon', 'sofa', 'text-3xl')}}<span
            class="block text-xs lg:text-sm"><span class="block 2xl:inline-block">{{reception_rooms}}</span> Receptions</span>
    </div>
</div>