{% if options.social_twitter %}
  <a target="_blank" class="hover:text-secondary-light transition {{ linkClasses }}" rel="noopener" href="{{ options.social_twitter }}">{{function ('icon', 'twitter', 'text-2xl mx-2')}}</a>
{% endif %}

{% if options.social_facebook %}
  <a target="_blank" class="hover:text-secondary-light transition {{ linkClasses }}" rel="noopener" href="{{ options.social_facebook }}">{{function ('icon', 'facebook', 'text-2xl mx-2')}}</a>
{% endif %}

{% if options.social_google %}
  <a target="_blank" class="hover:text-secondary-light transition {{ linkClasses }}" rel="noopener" href="{{ options.social_google }}">{{function ('icon', 'google-plus', 'text-2xl mx-2')}}</a>
{% endif %}

{% if options.social_instagram %}
  <a target="_blank" class="hover:text-secondary-light transition {{ linkClasses }}" rel="noopener" href="{{ options.social_instagram }}">{{function ('icon', 'instagram', 'text-2xl mx-2')}}</a>
{% endif %}

{% if options.social_youtube %}
  <a target="_blank" class="hover:text-secondary-light transition {{ linkClasses }}" rel="noopener" href="{{ options.social_youtube }}">{{function ('icon', 'youtube', 'text-2xl mx-2')}}</a>
{% endif %}

{% if options.social_pinterest %}
  <a target="_blank" class="hover:text-secondary-light transition {{ linkClasses }}" rel="noopener" href="{{ options.social_pinterest }}">{{function ('icon', 'pinterest', 'text-2xl mx-2')}}</a>
{% endif %}

{% if options.social_linkedin %}
 <a target="_blank" class="hover:text-secondary-light transition {{ linkClasses }}" rel="noopener" href="{{ options.social_linkedin }}"> {{function ('icon', 'linkedin', 'text-2xl mx-2')}}</a>
{% endif %}

