{% extends 'base.twig' %}

{% block hero %}

{% include "_components/hero.twig" with {
    hero_heading : post.meta('hero_heading')|default(post.title),
    has_search_bar : post.meta('has_search_bar'),
    has_accreditations : true,
} %}

{% endblock %}

{% block page_content %}

<div class="container flex flex-wrap justify-between pt-8">

    <div class="w-full lg:p-8 lg:w-6/12">
        {{function('propertyhive_template_not_on_market')}}
        {{function('propertyhive_show_property_images')}}
    </div>

    <div class="w-full lg:p-16 full lg:w-6/12">
        
        <p class="text-secondary">{{post._address_street}}, {{post._address_three}}, {{post._address_postcode}}</p>
        <h1 class="mb-0">{{post.post_title}}</h1>

        {# {{dump(post)}} #}        

        {% if post._department == "residential-sales" %}
            
            <p>
                {% for term in availability %}
                    <span class="font-bold">{{term.name}}</span>
                {% endfor %}
                {% for term in property_type %}
                    &bull; <span class="font-bold text-secondary">{{term.name}}</span>
                {% endfor %}
                {% for term in marketing_flag %}
                    &bull; {{term.name}}
                {% endfor %}
                {% for term in tenure %}
                    &bull; {{term.name}}
                {% endfor %}
            </p>
            <p class="text-sm opacity-50">
                {% for term in parking %}
                    {% if not loop.first %} &bull; {% endif %} {{term.name}}
                {% endfor %}
                {% for term in outside_space %}
                    &bull; {{term.name}}
                {% endfor %}
            </p>
            
            <p class="mt-8 text-xl leading-snug">{{ function('property_price_qualifier', post.id) }} 
                <span class="block text-3xl font-bold">£{{post._price_actual|number_format}}</span></p>

        {% elseif post._department == "residential-lettings" %}


            <p>{% for term in availability %}
                <span class="font-bold">{{term.name}}</span>
            {% endfor %}
            {% for term in property_type %}
                &bull; <span class="font-bold text-secondary">{{term.name}}</span>
            {% endfor %}
            {% for term in furnished %}
                &bull; <span class="text-secondary">{{term.name}}</span>
            {% endfor %}</p>

            
            <p class="text-sm opacity-50">
                {% for term in parking %}
                {{term.name}}
                {% endfor %}
                {% for term in outside_space %}
                &bull; {{term.name}}
                {% endfor %}
            </p>

            
            <p><span class="font-bold">Available from:</span> {{post._available_date|date('F j, Y')}}</p>
            <p class="mt-8 leading-snug"><span class="font-bold">Deposit:</span> £{{post._deposit|number_format}}</p>
            <p><span class="block text-3xl font-bold text-secondary">£{{post._price_actual|number_format}} {{post._rent_frequency}}</span></p>
        {% endif %}
                
        <hr class="my-8">

        {% include "_components/room-numbers.twig" with {
            bedrooms: post._bedrooms,
            bathrooms: post._bathrooms,
            reception_rooms: _reception_rooms
        } %}

        <div class="p-4 text-center text-white bg-primary-dark lg:p-8">
            <p class="text-2xl font-bold">Book a viewing</p>
            <p class="my-4">Get in touch to view this property</p>
            <div class="items-center justify-center lg:flex">
                <p>Call {% include "_components/phone-number.twig" %}</p>
                <a href="javascript:;" class="inline-block my-4 lg:my-0 btn btn-white lg:mx-4" data-fancybox data-src="#makeEnquiry{{post.id}}">Request a viewing</a>
            </div>
        </div>

    </div>

    <div class="flex-wrap w-full mt-8 lg:flex">
        <div class="relative flex items-center justify-center p-4 py-12 text-white bg-primary lg:w-1/5 lg:py-16">
            <p class="text-lg font-bold">Property Features</p>
            {% include "_components/pattern-house.twig" %}
        </div>
        {{function('propertyhive_template_single_features') }}
    </div>

    <div class="relative flex-wrap w-full mt-8 lg:flex">

        <div class="w-full lg:p-16 lg:w-1/2 copy">
            <h1>{{post.title}}</h1>
            {{function('propertyhive_template_single_summary') }}

            <h2>Full details:</h2>
            {{function('propertyhive_template_single_description') }}
        </div>

        <div class="w-full lg:p-16 lg:w-1/2">         

            <div class="lg:sticky lg:top-48">

                <div class="flex items-center justify-center w-full mb-4 bg-gray-200 min-h-128" id="leafletmap" data-lat="{{post._latitude}}" data-long="{{post._longitude}}" data-marker-title="{{post.title}}">
                    
                    {# {{function('do_shortcode', '[property_static_map]')}} #}

                </div>
                
                {{function('propertyhive_template_single_actions') }}

            </div>            
            
        </div>
        
        
        
    </div>

</div>


{% endblock %}